<aside class="sideNav">
    <div class="sideNav__logo">
        <div class="sideNav__logo__pic"><img src="/assets/images/logo.png" alt="Logo"></div>
        <h1 class="sideNav__logo__title">Cofeed</h1>
    </div>
    <span class="sideNav__item"> <h2 class="sideNav__title">Menu</h2></span>
    <span class="sideNav__item active"><a><fa-icon [icon]="faHome"></fa-icon>Home</a></span>
    <span class="sideNav__item"> <a><fa-icon [icon]="faCommentDots"></fa-icon>Messages</a></span>
    <span class="sideNav__item"> <a><fa-icon [icon]="faUser"></fa-icon>Profile</a></span>
    <span class="sideNav__item"> <a><fa-icon [icon]="faBookmark"></fa-icon>Saved Post</a></span>
    <span class="sideNav__item"> <a><fa-icon [icon]="faCog"></fa-icon>Settings</a></span>
    <span class="sideNav__item sideNav__item__title "><p class="sideNav__title">Account</p><fa-icon
            [icon]="faChevronDown"></fa-icon></span>
    <div class="sideNav__account sideNav__item">
        <img src="assets/images/p1.jpg" alt="Profile Image">
        <div class="sideNav__account__info">
            <p>Michael</p>
            <span>@michael</span>
        </div>
    </div>
    <div class="sideNav__getApp">
        <img src="assets/images/account-img.png"  alt="Get App">
    </div>
</aside>