@import "../../color-variables";

.feeds-cards-container {
  position: absolute;
  left: 16%;
  width: 50%;
  top: 132px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    margin: 0 46px;

    &__tabs {
      span {
        color: $Legend;
        padding: 0 10px;
        font-size: 14px;
      }
    }

    h2 {
      font-size: 14px;
      color: $Alpha;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .feeds-card {
      display: inline-block;
      margin: 11px;

      &__bg {
        border-radius: 10px;
        border: 2px solid white;
        width: 300px;
        height: 200px;
      }

      &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }

        p {
          color: $Alpha;
        }

        &__actions {
          display: flex;
          flex-direction: row;
          align-items: center;

          button {
            background: transparent;
            border: none;
            outline: none;
          }

          p, fa-icon {
            color: $Legend;
          }


        }


      }
    }

  }

  .active-tab {
    color: $Primary;
  }
}

.active-btn {

  color: $Secondary2 !important;
}