<div class="feeds-cards-container">
    <div class="feeds-cards-container__header">
        <h2>Feeds</h2>
        <div class="feeds-cards-container__header__tabs">
            <span>All</span>
            <span>Following</span>
            <span>Newest</span>
            <span class="active-tab">Popular</span>
        </div>
    </div>
    <div class="feeds-cards-container__cards">
        <div class="feeds-card">
            <img class="feeds-card__bg" src="assets/images/1st-card.jpg" alt="1st-card">
            <div class="feeds-card__info">
                <img src="assets/images/p4.jpg">
                <p>Dean Winchester </p>
                <span class="feeds-card__info__actions">
                    <button  id="1stCard" (click)="favorite($event)">
                        <fa-icon [icon]="faHeart" ></fa-icon>
                    </button>

                   <p id="text_1stCard"> </p>
                </span>

                <span class="feeds-card__info__actions">
                      <fa-icon [icon]="faCommentDots"></fa-icon>
                     <p>300</p>
                </span>
            </div>
        </div>
        <div class="feeds-card">
            <img class="feeds-card__bg" src="assets/images/2nd-card.jpg" alt="1st-card">
            <div class="feeds-card__info">
                <img src="assets/images/p1.jpg">
                <p>Dean Winchester </p>
                <span class="feeds-card__info__actions">
                    <button  id="2ndCard" (click)="favorite($event)">
                        <fa-icon [icon]="faHeart" ></fa-icon>
                    </button>

                   <p id="text_2ndCard"> </p>
                </span>

                <span class="feeds-card__info__actions">
                      <fa-icon [icon]="faCommentDots"></fa-icon>
                     <p>300</p>
                </span>
            </div>
        </div>
        <div class="feeds-card">
            <img class="feeds-card__bg" src="assets/images/3rd-card.jpg" alt="1st-card">
            <div class="feeds-card__info">
                <img src="assets/images/p2.jpg">
                <p>Dean Winchester </p>
                <span class="feeds-card__info__actions">
                    <button  id="3rdCard" (click)="favorite($event)">
                        <fa-icon [icon]="faHeart" ></fa-icon>
                    </button>

                   <p id="text_3rdCard"> </p>
                </span>

                <span class="feeds-card__info__actions">
                      <fa-icon [icon]="faCommentDots"></fa-icon>
                     <p>300</p>
                </span>
            </div>
        </div>
        <div class="feeds-card">
            <img class="feeds-card__bg" src="assets/images/4th-card.jpg" alt="1st-card">
            <div class="feeds-card__info">
                <img src="assets/images/p3.jpg">
                <p>Dean Winchester </p>
                <span class="feeds-card__info__actions">
                    <button  id="4thCard" (click)="favorite($event)">
                        <fa-icon [icon]="faHeart" ></fa-icon>
                    </button>

                   <p id="text_4thCard"> </p>
                </span>

                <span class="feeds-card__info__actions">
                      <fa-icon [icon]="faCommentDots"></fa-icon>
                     <p>300</p>
                </span>
            </div>
        </div>

    </div>

</div>