<aside class="right-aside-container">
    <div class="right-aside-container__header">
        <input type="text" id="search" name="search" placeholder="Search">
        <fa-icon class="right-aside-container__header__search" [icon]="faSearch"></fa-icon>
        <span class="right-aside-container__header__icons"><fa-icon [icon]="faBell"></fa-icon></span>
        <span class="right-aside-container__header__icons"><fa-icon [icon]="faCloudUploadAlt"></fa-icon></span>


    </div>
    <div class="right-aside-container__title">
        <h3>Suggested For You</h3>
        <span>See All</span>
    </div>
    <div class="right-aside-container__suggested">
        <img src="assets/images/p7.jpg">
        <span class="right-aside-container__suggested__text">
             <p>Sarah Tancredi </p>
        <span>@dr.sarah</span>
        </span>

        <button>Follow</button>
    </div>
    <div class="right-aside-container__suggested">
        <img src="assets/images/p8.jpg">
        <span class="right-aside-container__suggested__text">
             <p>Arthur Shelby </p>
        <span>@art.shelby</span>
        </span>

        <button class="active-btn">Followed</button>
    </div>
    <div class="right-aside-container__suggested">
        <img src="assets/images/p9.jpg">
        <span class="right-aside-container__suggested__text">
             <p>Van Diesel </p>
        <span>@vandiesel</span>
        </span>

        <button>Follow</button>
    </div>
    <hr>
    <div class="right-aside-container__latest">
        <h3> Latest Post Activity</h3>
        <div class="right-aside-container__latest__card">
            <img src="assets/images/side-bg.jpg">
            <div class="right-aside-container__latest__info"> <p>Minimalist Stairs</p>
            <p class="active"><fa-icon [icon]="faHeart"></fa-icon>27</p>
            <p><fa-icon [icon]="faCommentDots"></fa-icon>12</p>
            <p><fa-icon [icon]="faBookmark"></fa-icon>8</p>
            </div>
        </div>
        <p class="right-aside-container__latest__footer">See All Posts</p>
    </div>
    <div class="right-aside-container__footer">
        <p>About</p>
        <p>.</p>
        <p>Help</p>
        <p>.</p>
        <p>Terms</p>
        <p>.</p>
        <p>Popular</p>
        <p>.</p>
        <p>Language</p>
    </div>
</aside>