@import "../../color-variables";

.right-aside-container {
  position: absolute;
  right: 0;
  width: 25%;
  border-left: 1px solid $Legend;


  input[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid $Legend;
    width: 100px;
    height: 40px;
    padding-left: 10px;
    background: transparent;
  }

  ::placeholder {
    padding: 0 20px;
    color: $Legend;
  }

  fa-icon {
    color: $Legend;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px;

    &__search {
      position: absolute;
      left: 17%;
      top: 7%;
    }

    &__icons {
      width: 50px;
      height: 50px;
      border: 1px solid $Legend;
      border-radius: 50%;
      position: relative;

      fa-icon {
        position: absolute;
        top: 28%;
        left: 27%;
      }
    }

    span:last-of-type {
      background: $Secondary1;

      fa-icon {
        color: $Omega;
      }
    }

  }

  &__title {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 16px;

    h3 {
      color: $Alpha;
      font-size: 16px;
    }

    p {
      color: $Alpha;
    }

    span {
      color: $Primary;
    }
  }

  &__suggested {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $Omega;
    }

    &__text {
      p {
        color: $Alpha;
        font-size: 14px;
        margin: 0;
      }

      span {
        color: $Legend;
        font-size: 12px;
      }
    }

    .active-btn {
      border: 1px solid $Misty;
      color: $Alpha;
      background: $Omega;
    }

    button {
      background: $Primary;
      color: $Omega;
      border: none;
      width: 90px;
      padding: 10px;
      border-radius: 10px;
    }
  }

  hr {
    border-top: 1px solid $Legend;
    margin: 0 60px;

  }

  &__latest {
    h3 {
      color: $Alpha;
      font-size: 16px;
      margin: 20px;
    }

    &__card {
      background: $Haze;
      border: 1px solid $Omega;
      margin: 25px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 100px;
        height: 100px;
        margin: 25px;
        border-radius: 10px;
      }

      fa-icon {
        padding: 10px;
      }

    }

    &__info {
      p:first-of-type {
        width: 100%;
        display: block;
      }

      p {
        width: 55px;
        display: inline-block;
        color: $Alpha;
      }
    }

    .active {
      fa-icon {
        color: $Secondary2;
      }

      color: $Secondary2;
    }

    &__footer {
      font-size: 16px;
      color: $Primary;
      text-align: center;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
      color: $Legend;
      font-size: 12px;
      margin: 0 2px;
      display: inline-block;
    }

  }
}