@import "../../color-variables";

.circle-cards-container {
  position: absolute;
  left: 14%;
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  height: 100px;
  margin: 10px 0;

  &__overlay {
    width: 40px;
    height: 40px;
    position: absolute;
    background: $Primary;
    opacity: 0.5;
    left: 71px;
    border-radius: 50%;
}

div {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $Primary;
  }

  img:first-of-type {
    position: relative;

  }

  fa-icon {
    position: absolute;
    color: $Omega;
    left: 85px;
    top: 10px;
  }

  p {
    font-size: 14px;
    color: $Alpha;
  }
}

}