<div class="layout-container">
    <app-circle-cards></app-circle-cards>
    <app-side-nav></app-side-nav>
    <app-feeds-cards></app-feeds-cards>
    <app-right-aside></app-right-aside>
    <router-outlet></router-outlet>
</div>
div>

